body {
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-color {
    color: rgb(114, 2, 15) !important;
    background-color: rgb(199, 119, 127) !important;
}

.produk-banner {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                url(https://i.pinimg.com/1200x/9d/d8/0d/9dd80d4358eaf2048dc1ed8d46ebbd76.jpg); 
    background-size: cover;
    background-position: center;
}

.footer {
    background-color: #b696d0;
    color: aliceblue;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin: 0;
}

.footer .social-icon {
    font-size: 1.6rem;
    color: #ffffff;
    transition: .3s;
}

.footer .social-icon:hover {
    color: #f9e199;
}

.footer .text-light {
    color: #fff !important;
}

.footer h5 {
    font-weight: bold;
}

.input-group input {
    border-radius: 5px;
    border: 1px solid #ce6579;
}

.input-group button {
    border-radius: 5px;
    background-color: #ce6579;
    color: #fff;
    border: none;
}

.input-group button:hover {
    background-color: #f9e199;
    color: #ce6579;
}

.social-icon {
    margin: 0 15px;
}

.footer .row {
    padding-top: 20px;
}

.container-fluid.footer {
    padding: 0;
    margin: 0;
}

