.main-navbar {
  background-color: purple; 
}

.navbar-brand,
.nav-link {
  color: black ;
}

.banner {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://i.pinimg.com/1200x/02/0a/a1/020aa191a471a7d5e6c3d393da575ed8.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}

.banner-content {
  text-align: center;
}
